---
import DesktopVideo from "./DesktopVideo.tsx";
import { ContactUsButton } from "./ContactUsButton.tsx";

const {
  preFace,
  title,
  description,
  benefits,
  mobileBenefits,
  buttonCTA,
  videoUrl,
} = Astro.props;
---

<div class="flex-col md:flex-row flex mx-5 md:mx-16 items-center">
  <div class="flex-col flex-1">
    <span
      class="hidden md:block text-p1-d font-semibold not-italic text-sageGreen"
      >{preFace}</span
    >
    <h1 class="text-h1-m md:text-h1-d font-grotesk text-deepBlack font-medium">
      {title}
    </h1>
    <p
      class="mt-2 md:mt-4 font-normal text-p1-m md:text-p1-d font-inter text-deepBlack not-italic"
    >
      {description}
    </p>

    <!-- Only for Desktop -->
    <ul class="hidden md:flex mt-4 flex-col text-deepBlack">
      {
        benefits.map((benefit: string) => (
          <li class="flex">
            <>
              <span class="text-center text-h3-d mr-2 font-normal not-italic text-sageGreen">
                *
              </span>
              <span class="text-p1-d font-inter font-normal non-italic">
                {benefit}
              </span>
            </>
          </li>
        ))
      }
    </ul>

    <ContactUsButton
      client:visible
      buttonCTA={buttonCTA}
      formTitle="Request for a demo here"
      className="hidden md:block"
    />
  </div>
  <!-- --------------------- -->

  <div
    class="flex flex-col md:hidden bg-greyYellowGreen rounded-lg px-3 py-4 mt-6 mb-8"
  >
    <h3 class="text-h3-m font-grotesk font-medium text-deepBlack">
      {mobileBenefits}
    </h3>
    <button
      class="mt-2 px-6 py-3 bg-deepBlack rounded-xl text-deepWhite text-p2-m font-semibold font-inter"
    >
      {buttonCTA}
    </button>
  </div>

  <div class="mt-11 md:mt-0 ml-0 md:ml-14 relative">
    <!-- Required to avoid layout shifts when DesktopVideo component gets hydrated -->
    <div class="hidden md:block" style={{ height: "512px", width: "368px" }}>
      <DesktopVideo client:only="react" videoUrl={videoUrl} />
    </div>
    <iframe
      class="md:hidden h-52 w-full rounded-lg"
      src={videoUrl}
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen></iframe>
  </div>
</div>
